<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('<%= asset_path('guitar.jpg') %>');
    height: 400px;
    margin-top: 58px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">1日1フレーズ。ゆるふわギター生活</h1>
        <p class="mb-3">レッスン代0円。必要なのはあなたの時間だけ。</p>
        <p class="mb-3">気になったフレーズを検索しよう！</p>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button"
        >Call to action</a
        >
      </div>
    </div>
  </div>
</div>
