<div class="bg-image", style="background-image: url('<%= asset_path('title-img.jpeg') %>')">
  <div class="title-container">
    <h2>投稿一覧</h2>
    <p>投稿一覧では、他のユーザーが投稿した内容を見ることができます。</p>
    <p>総投稿数<%= Post.count %><p/>
  </div>
</div>
