body {
    padding-top: 57px;
}

.header-right {
    margin: 0 5px;
}

.title-container {
    max-width: 970px;
    padding: 30px 10px 25px;
    margin: 0 auto;
    color: #fff;
}

.main-container {
    max-width: 970px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-color: #333
}

.actions {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    border-top: 1px solid #eee;
    padding: 15px 10px;
}

.footer-container {
    max-width: 950px;
    margin: 0 auto;
}

.Notification {
    .notice {
      background-color: #38AEF0;
      color: #fff;
      text-align: center;
    }
    .alert {
      background-color: #F35500;
      color: #fff;
      text-align: center;
    }
}

.username_color {
    color: black;
}

.youtube {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.youtube iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 576px) {
    th, td {
        display: block;
    }
}
