body {
    padding-top: 58px;
}

.title-container {
    max-width: 970px;
    padding: 30px 10px 25px;
    margin: 0 auto;
    color: #fff;
    height: 100px;
}

.main-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-color: #333
}

.actions {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    border-top: 1px solid #eee;
    padding: 15px 10px;
}

.footer-container {
    max-width: 950px;
    margin: 0 auto;
}

.flash-message {
    padding: 16px 24px;
  }
   
  .flash-message.notice {
    background-color: #bcdfff;
    color: #0067C0;
  }
   
  .flash-message.alert {
    background-color: #ffd4d1;
    color: #930403;
  }
