.title {
    background-color: #9FA6B2;
}

.title-container {
    max-width: 970px;
    padding: 30px 10px 25px;
    margin: 0 auto;
    margin-top: 58px;
    color: #fff;
    height: 100px;
}

.main-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-color: #333
}
