<p>こんにちは<%= @resource.username %>さん</p>

<p>こちらのメールはログインパスワード再設定ページへのご案内メールです。以下のURLからパスワードの再設定をお願いいたします。</p>

<p><%= link_to "パスワードの変更はこちら", edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
